<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".UserApp"
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/monkey"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MonoDiversion.Light"
        tools:targetApi="31">
        <activity
            android:name=".view.ChaosActivity"
            android:exported="false" />
        <activity
            android:name=".view.CombinationActivity"
            android:exported="false" />
        <activity
            android:name=".view.ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".view.AgilityActivity"
            android:exported="false" />
        <activity
            android:name=".view.MemoryActivity"
            android:exported="false" />
        <activity
            android:name=".view.UsersActivity"
            android:exported="false"
            android:label="@string/title_activity_users"
            android:theme="@style/Theme.MonoDiversion.Light.NoActionBar" />
        <activity
            android:name=".view.GameActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>